.c-button {
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    color: #8a8a8a;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    outline: none;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
        border-color: #333;
        color: inherit;
    }
    &--link {
        border: 0;
    }
    &__form {
        text-align: right;
    }
    &__block {
        display: block;
        width: 100%;
    }
    &--blue {
        color: #fff;
        background-color: $lightblue;
        border-color: $lightblue;
        &:hover {
            color: #fff;
            background-color: #2578ff;
            border-color: #1871ff;
            box-shadow: 0 0 0 0.2rem rgb(102 161 255 / 50%);
        }
    }
}
