.p-form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 500px;
    @include mq() {
        width: 290px;
    }
    &__body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #dee2e6;
    }
    &__control {
        display: block;
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        &::before,
        &::after {
            box-sizing: border-box;
        }
        &.error {
            border-color: #e3342f;
            padding-right: calc(1.6em + 0.75rem);
            &:focus {
                border-color: #e3342f;
                box-shadow: 0 0 0 0.2rem rgb(227 52 47 / 25%);
            }
        }
    }
    &--feedback {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
        @include mq() {
            font-size: 70%;
        }
    }
    &__check {
        position: relative;
        display: block;
        padding-left: 1.25rem;
        &--input {
            position: absolute;
            margin-top: 0.3rem;
            margin-left: -1.25rem;
        }
    }
}
