@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-form {
  height: 100vh;
}

.l-form--space {
  height: 110vh;
}

@media screen and (max-width: 560px) {
  .l-form--space {
    height: 125vh;
  }
}

@media screen and (max-width: 560px) {
  .l-form {
    height: 115vh;
  }
}

.l-form__content {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.l-form__content--space {
  height: 110%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 560px) {
  .l-form__content--space {
    height: 125%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.l-row--middle {
  width: auto;
  max-width: 100%;
}

.l-header {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.l-header__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.l-header__menu {
  align-items: center;
  display: flex;
}

.l-header__item {
  margin-left: 1rem;
}

.l-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}

.l-container--small {
  margin: 0 auto;
  width: 600px;
  position: absolute;
  top: -70px;
  left: 300px;
}

.l-footer {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  display: flex;
  height: 5rem;
  justify-content: center;
}

/* Component
   ----------------------------------------------------------------- */

.c-button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.c-button:hover {
  border-color: #333;
  color: inherit;
}

.c-button--link {
  border: 0;
}

.c-button__form {
  text-align: right;
}

.c-button__block {
  display: block;
  width: 100%;
}

.c-button--blue {
  color: #fff;
  background-color: #4b90ff;
  border-color: #4b90ff;
}

.c-button--blue:hover {
  color: #fff;
  background-color: #2578ff;
  border-color: #1871ff;
  box-shadow: 0 0 0 0.2rem rgba(102, 161, 255, 0.5);
}

.c-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* Project
   ----------------------------------------------------------------- */

.p-form__label {
  display: block;
  margin-bottom: 0.5rem;
}

.p-form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  width: 100%;
}

/*.p-form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 500px;
    @include mq() {
        width: 290px;
    }
    &__body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #dee2e6;
    }
    &__control {
        display: block;
        width: 100%;
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        &::before,
        &::after {
            box-sizing: border-box;
        }
        &.error {
            border-color: #e3342f;
            padding-right: calc(1.6em + 0.75rem);
            &:focus {
                border-color: #e3342f;
                box-shadow: 0 0 0 0.2rem rgb(227 52 47 / 25%);
            }
        }
    }
    &--feedback {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #e3342f;
        @include mq() {
            font-size: 70%;
        }
    }
    &__check {
        position: relative;
        display: block;
        padding-left: 1.25rem;
        &--input {
            position: absolute;
            margin-top: 0.3rem;
            margin-left: -1.25rem;
        }
    }
}*/

.l-row--middle {
  width: auto;
  max-width: 100%;
}

.p-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.p-alert--success {
  color: #1d643b;
  background-color: #d7f3e3;
  border-color: #c7eed8;
  font-size: 14px;
}

.p-tab {
  display: flex;
  list-style: none;
  margin-top: 30%;
  padding: 0;
}

.p-tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.p-tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.p-panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.p-errors {
  border-radius: 0.25rem;
  color: #e3342f;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 90%;
}

.p-message {
  background: #d7f9ee;
  border: 1px solid #41e2b2;
  border-radius: 0.25rem;
  color: #117355;
  padding: 1rem;
  text-align: center;
  float: left;
  width: 100%;
  margin: 0 auto;
}

/* Utility
   ----------------------------------------------------------------- */

.u-p9 {
  padding: 3rem;
}

@media screen and (max-width: 560px) {
  .u-p9 {
    padding: 3rem 0;
  }
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb3 {
  margin-bottom: 1rem;
}

.u-mt1 {
  margin-top: 0.5rem;
}

