.l-footer {
    margin-top: auto;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    display: -webkit-box;
    display: flex;
    height: 5rem;
    -webkit-box-pack: center;
    justify-content: center;
}
