.l-form {
    height: 100vh;
    &--space {
        height: 110vh;
    }
    @include mq() {
        height: 115vh;
    }
    &__content {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        &--space {
            height: 110%;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }
}
