.l-form {
    height: 100vh;
    @include mq() {
        height: 115vh;
    }
    &__content {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
