.l-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    @include mq() {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include mq() {
            flex-wrap: nowrap;
        }
        &--brand {
            display: inline-block;
            padding-top: 0.32rem;
            padding-bottom: 0.32rem;
            margin-right: 1rem;
            font-size: 1.125rem;
            line-height: inherit;
            white-space: nowrap;
        }
    }
    &__collapse {
    }
}
