// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2578ff;
$lightblue: #4b90ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$font-color_default: #666;
$font-color-date: #e37b89;
$color-corp: #e3a8b1;
$font-color-sub1: #b6a489;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_defalut: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 24px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: "Amatic SC", cursive;
$font-family_default: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic,
    "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
